.experience {
  margin-bottom: 50px;
}

.experience-title {
  font-size: 20px;
  font-weight: 600;
}

.experience-description {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 1px;
}
