.landing {
  width: 100%;
  background-image: url("../assets/images/home-bg.webp");
}

.landing-blur {
  background-color: rgba(249, 250, 251, 0.15);
  backdrop-filter: blur(10px);
}

.landing h2 {
  font-size: 50px;
  line-height: 64px;
  font-weight: 475;
  color: #e3e3e3;
  text-align: left;
  padding: 50px 0;
}

@media only screen and (max-width: 1200px) {
  .landing h2 {
    font-size: 44px;
    padding: 20px 0;
  }
}

@media only screen and (max-width: 768px) {
  .landing h2 {
    font-size: 36px;
  }
}

@media only screen and (max-width: 576px) {
  .landing h2 {
    font-size: 28px;
  }
}
