.navrail {
  flex: 1;
  background-color: #f3f6fb;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  height: 100vh;
  position: fixed;
  min-width: 80px;
  width: 80px;
  text-align: center;
}

.footer {
  padding: 120px 0 80px;
  margin: auto;
  align-items: flex-start;
  text-align: left;
}

.footer-divider {
  margin-bottom: 80px;
}

.footer-column {
  padding-left: 50px;
}

.footer-column-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-column-1 h2 {
  padding: 20px 0 !important;
}

.form {
  background-color: rgba(249, 250, 251, 0.01);
  backdrop-filter: blur(1px);
  border-radius: 20px;
  padding: 20px;
}

.form input,
.form textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 15px;
  border: none;
  outline: none;
  background-color: rgba(249, 250, 251, 0.4);
}

.form input.error,
.form textarea.error {
  background-color: #ffcccb9f;
}

.form input.success,
.form textarea.success {
  background-color: #ccffcd7f;
}

input::placeholder,
textarea::placeholder {
  color: #000;
}

.form textarea {
  max-height: 150px;
}

.form button {
  border-radius: 48px;
  cursor: pointer;
  padding: 15px 35px;
  background-color: #a8c7fa;
  color: #062e6f;
  font-size: 24px;
  line-height: 32px;
  font-weight: 475;
  border: none;
}

.form button[disabled] {
  cursor: not-allowed;
}
